<table class="time-selection" id="time-selection" style="display: inline-block;">

  <tr>
    <th>Time</th>
    <th class="day-selector">Monday</th>
    <th class="day-selector">Tuesday</th>
    <th class="day-selector">Wednesday</th>
    <th class="day-selector">Thursday</th>
    <th class="day-selector">Friday</th>
  </tr>

  <% for time in Schedule.times %>

    <tr>

      <td><%= Schedule.str_to_formatted_time time%></td>
      
      <% for day in Schedule.weekdays %>      
        
        <td class="time-entry not-selected" id="<%= day %>-<%= time %>"></td>

      <% end %>

    </tr>

  <% end %>

</table>



<script type="text/javascript">
  
  <% for day in ["mon", "tue", "wed", "thu", "fri"] %>
    <% for time in @times_hash[(day + "_times").to_sym] %>
      $("#<%= day %>-<%= time %>").toggleClass("not-selected").toggleClass("fixed");
    <% end %>
    <% for time in @times_hash[(day + "_var_times").to_sym] %>
      $("#<%= day %>-<%= time %>").toggleClass("not-selected").toggleClass("variable");
    <% end %>
  <% end %>

</script>