<p id="notice"><%= notice %></p>

<h1>Showing Schedules<% if !@user.nil? %> for <%= @user.name %><% end %></h1>

<table>
  <tr>
    <td><%= link_to '←', {schedule_start_date: @this_monday - 1.week} %></td>
    <td>Week Start Date: <%= @this_monday.to_date %></td>
    <td><%= link_to '→', {schedule_start_date: @this_monday + 1.week} %></td>
  </tr>
</table>

<% if @render %>

  <%= render 'schedule' %>

<% end %>

<br>

<% if !@user.nil? %>
  <%= link_to 'New Schedule', new_user_schedule_path %>
<% end %>
